---
import Layout from "../../layouts/Layout.astro";
import SvelteApp from "../../svelte/SvelteApp.svelte"
import "@picocss/pico/css/pico.css"

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "ru" } }];
}

const i18n = Astro.locals.i18n;

const ns = i18n.getSubI18n({
  namespace: "landing",
});

// load the landing namespace translation
await ns.loadRootScopeTranslation();
---

<Layout title={ns.t("title")}>
  <main class="container">
    <h1>{ns.t("welcome")}</h1>
    <h3>Apps below</h3>
    
    <SvelteApp client:only></SvelteApp>
  </main>
</Layout>
